.header {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 70px;
	color: #326693;
	background-color: white;
	padding-inline: 15px;
}

body {
	background-color: #e9f5ff;
}

.body-div {
	background-color: white;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 100px;
	border-radius: 10px;

}

.contents {
	margin-top: 50px;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
}

hr {
	margin-top: 100px;
	margin-bottom: 50px;
}


h1 {
	color: #326693;
	padding-left: 10px;
	border-bottom: 5px solid #31a9ee;
}

h2 {
	color: #326693;
	padding-left: 10px;
	border-left: 10px solid #31a9ee;
	border-bottom: 1px solid #31a9ee;
}

h3 {
	color: #326693;
	padding-left: 10px;
	border-bottom: 1px solid #31a9ee;
	margin-left: 10px;

}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-left: 10px;
}

p.h3 {
	margin-left: 20px;
}

.arow {
	margin-right: 10px;
	display: inline-block;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #31a9ee transparent transparent transparent;
}

.right-text {
	text-align: right;
}

.code-title {
	color: #dddddd;
	background-color: #386892;
	border-radius: 5px;
}

.code-text {
	color: #dddddd;
	background-color: #1a3349;
	margin-top: -3px;
}

.code-row {
	color: #dddddd;
	background-color: #1a3349;
	border-radius: 5px;
	margin-left: 10px;
}

code {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}